.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -ms-align-items: center;
}

.flex-start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -ms-justify-content: flex-start;
  align-items: center;
  -ms-align-items: center;
}

.flex-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -ms-justify-content: flex-end;
  align-items: center;
  -ms-align-items: center;
}

.flex-around {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -ms-justify-content: space-around;
  align-items: center;
  -ms-align-items: center;
}

.flex-between {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-items: center;
  -ms-align-items: center;
}

.flex-row {
  flex-direction: row;
  -ms-flex-direction: row;
}

.flex-column {
  flex-direction: column;
  -ms-flex-direction: column;
}

.flex-top {
  align-items: flex-start;
  -ms-align-items: flex-start;
}

.flex-bottom {
  align-items: flex-end;
  -ms-align-items: flex-end;
}

.flex-baseline {
  align-items: baseline;
  -ms-align-items: baseline;
}

.flex-align-center {
  align-items: center;
  -ms-align-items: center;
}

.flex-align-end {
  align-items: flex-end;
  -ms-align-items: flex-end;
}

.flex-justify-content-start {
  justify-content: flex-start;
  -ms-justify-content: flex-start;
}

.flex-justify-content-end {
  justify-content: flex-end;
  -ms-justify-content: flex-end;
}

.flex-justify-content-center {
  justify-content: center;
  -ms-justify-content: center;
}

.flex-justify-content-between {
  justify-content: space-between;
  -ms-justify-content: space-between;
}

.flex-justify-content-around {
  justify-content: space-around;
  -ms-justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.colseTouch {
  pointer-events: none;
  cursor: default;
}